<div class="container">
  <div class="create-list">
    <div class="create-list-title mb-3 ">
      <h2 class="display-5" style="color: #1895A3;">請編輯你的支出</h2>
    </div>
    <form action="/records/{{record._id}}?_method=PUT" method="POST" class="create-list-form mb-3">
      <div class="form-group row">
        <label for="require" class="col-sm-4 col-form-label" style="color: #FF8080;">*必填欄位</label>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">名稱*：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="消費品項" name="name" value="{{ record.name }}" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">日期*：</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" name="date" value="{{record.date}}" autocomplete="on" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="category_ch" class="col-sm-2 col-form-label">類別*：</label>
        <div class="col-sm-10">
          <select id="category_ch" class="form-control" name="category_ch" required>
            <option>{{record.category_ch}}</option>
            {{#each categories}}
            <option value="{{this.category_ch}}">{{this.category_ch}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="merchant" class="col-sm-2 col-form-label">商店：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="消費的店家" name="merchant" value="{{ record.merchant}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="amount" class="col-sm-2 col-form-label">金額*：</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" placeholder="花了多少錢" name="amount" min="0" max="100000000" step="1"
            value="{{ record.amount }}" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn createButton">儲存變更</button>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-center ">
      <a href="/">
        <button type="submit" class="btn backButton">回到首頁</button></a>
    </div>
  </div>
</div>