<div class="container ">
  <div class="home-top d-flex  align-items-center row">
    <div class="total-amount col-sm-7  ">
      <span class="ml-5 d-flex">
        <h3 class="mr-4">Total:
        </h3>
        <h1 class="display-3" style="color: #FF8080;">${{totalAmountText}}</h1>
      </span>
    </div>
    <div class="filter-options d-flex justify-content-center col-sm-5">
      <form action="/records/category" method="GET">
        <select name="category" class="custom-select category-select " id='inputType' onChange="this.form.submit()"
          style="cursor: pointer;">
          <option value="" disabled selected>Category</option>
          {{#if keyword}}<option value="{{keyword}}" selected>{{keyword}}</option>{{/if }}
          {{#each categories}}
          <option value="{{this.category}}">{{this.category}}</option>
          {{/each}}
        </select>
      </form>
      {{#if keyword}} <a href="../"><button type="button" class="btn  filter-all">All</button></a>{{/if
      }}
      <i class="fas fa-funnel-dollar fa-3x mx-3"></i>
    </div>
  </div>

  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item mb-1">

      <div class="record row d-flex row justify-content-between align-items-center">
        <div class="col-sm-1">
          <div class="record-icon"><i class="{{this.categoryIcon}} fa-3x list-icon"></i></div>
        </div>

        <div class="col-sm-4 d-flex flex-column justify-content-center">
          <h2 style="font-size: 20px;color:#1895A3;font-weight:bold;">{{this.name}}</h2>
          <h3 style="font-size: 12px;">{{this.date}}</h3>
        </div>

        <div class=" col-sm-1 d-flex justify-content-end">
          <div class="record-amount-text" style="color:#1895A3;">${{this.amount}}</div>
        </div>


        <div class="col-sm-3 d-flex justify-content-between">
          <a href=" /records/{{ this._id }}/edit"><i class="fas fa-edit fa-2x"></i></a>

          <button type="button" data-toggle="modal" data-target="#delete{{this._id}}" class="delete-btn"><i
              class="fas fa-trash fa-2x" style="cursor: pointer;"></i></button>
          </form>
        </div>
      </div>
    </li>
    <!-- Modal -->
    <div class="modal fade delete" id="delete{{this._id}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color: #FF8080;">NOTICE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            確定要刪除
            <span style="color:#1895A3;font-weight:bold;">
              {{this.name}}
            </span>這筆支出？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
            </button>
            <form action="/records/{{ this._id }}?_method=DELETE" method="POST" ;>
              <button type="submit" class="btn " style="background-color: #FF8080 ;color: #f7f7f7;">Delete</button>
            </form>
          </div>
        </div>
      </div>

    </div>
    {{/each}}
  </ul>
  <div class="create-btn d-flex justify-content-center">
    <a href="/records/new"><button type="button" class="btn createButton">新增支出</button></a>
  </div>
</div>