<header><link rel="stylesheet" href="/stylesheets/index.css"></header>
<div class="container d-flex flex-column justify-content-center ">
  {{> message}}
  <div class="amount-wrapper">
    <div class="amount-income">
      <div class="amount-text">
        <h4 class="amount-title">收入<i class="fas fa-hand-holding-usd ml-1"></i></h4>
        <p class="amount-description">0</p>
      </div>
    </div>
    <div class="amount-expense">
        <div class="amount-text">
      <h4 class="amount-title">支出<i class="fas fa-receipt ml-1"></i></h4>
      <p class="amount-description">{{totalAmountText}}</p>
      </div>
    </div>
    <div class="amount-balance">
      <div class="amount-text">
      <h4 class="amount-title">結餘<i class="fas fa-donate ml-1"></i></h4>
      <p class="amount-description ">4566666625</p>
      </div>
    </div>
  </div>
  
    <form action="/filter" method="GET" class="select-form">
    <div class="buttons-wrapper">
      <div class="button-month">
    <select name="month" class="month-select form-control  form-control-lg mt-1" id="month" onChange="this.form.submit()"
      style="cursor: pointer;">
      <option value="all" name="filteredMonth" {{#ifCond this.month ../filteredMonthText }} selected {{/ifCond}}>
        {{this.month}}所有月份</option>
        {{#each months}}
        <option value="{{this.month}}" name="filteredMonth" {{#ifCond this.month ../filteredMonthText }} selected {{/ifCond}}>
          {{this.month}}月份</option>
        {{/each}}
      </select>
      </div>

    <div class="button-category">
      <select name="category" class="category-select form-control  form-control-lg mt-1" id="category" onChange="this.form.submit()"
        style="cursor: pointer;">
        <option value="all" name="filteredCategory" {{#ifCond " all"../filteredCategory }} selected {{/ifCond}}>
        所有類別</option>
        {{#each categories}}
        <option value="{{this._id}}" name="filteredCategory" {{#ifCond this._id ../filteredCategory }} selected
          {{/ifCond}}>{{this.title}}</option>
        {{/each}}
      </select>
    </div>
      <div class="button-reset">
        {{#if filteredCategory}} <a href="../"><button type="button" class="btn btn-primary mt-1  btn-lg reset-select">Reset</button></a>{{/if
        }}
      </div>
      </div>
    </form>
  


  <ul class="list-group">
    <li class="list-group-item mb-1">
      <div class="record d-flex row justify-content-center align-items-center">
        <div class="add-record">
          <a href="/records/new/expense">
          <button type="button" class="btn ">
          <h3 class="mr-2"style="color:#1895A3;">新增收支記錄</h3>
        </div>
      <div class="record-icon">
        <i class="fas fa-plus-square fa-3x list-icon"></i>
      </div>
          </button>
          </a>
      </div>
    </li>
    {{#each records}}
    <li class="list-group-item mb-1">
      <div class="record d-flex row justify-content-between align-items-center p-2">
        <div class="col-sm-1">
          <div class="record-icon ml-2"><i class="{{this.category.icon}} fa-3x list-icon"></i></div>
        </div>

        <div class="col-sm-4 d-flex flex-column justify-content-center record-text mx-2">
          <h2 style="font-size: 1.5rem;color:#1895A3;font-weight:bold;"class="mb-2">{{this.name}}</h2>
          <h3 style="font-size:1em;"class="record-date">{{this.date}}</h3>
          <h3 style="font-size: 0.9rem;">{{this.merchant}}</h3>
        </div>

        <div class="col-sm-1 d-flex justify-content-end pl-2">
          <div class="record-amount-text ml-1 " style="color:#1895A3;font-size: 2rem">${{this.amount}}</div>
        </div>
        <div class="col-sm-3 d-flex justify-content-between ml-2">
          <a href=" /records/{{this._id}}/edit"><i class="fas fa-edit fa-2x"></i></a>

          <button type="button" data-toggle="modal" data-target="#delete{{this._id}}" class="delete-btn mr-2"><i
              class="fas fa-trash fa-2x" style="cursor: pointer;"></i></button>
          </form>
        </div>
      </div>
    </li>
    <!-- Modal -->
    <div class="modal fade delete" id="delete{{this._id}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color: #FF8080;">NOTICE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            確定要刪除
            <span style="color:#1895A3;font-weight:bold;">
              {{this.name}}
            </span>這筆支出？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
            </button>
            <form action="/records/{{ this._id }}?_method=DELETE" method="POST" ;>
              <button type="submit" class="btn " style="background-color: #FF8080 ;color: #f7f7f7;">Delete</button>
            </form>
          </div>
        </div>
      </div>

    </div>
    {{/each}}
  </ul>
</div>