<header>
  <link rel="stylesheet" href="/stylesheets/index.css">
</header>
<div class="container d-flex flex-column justify-content-center mt-5">
  {{> message}}
  <div class="total-amount d-flex justify-content-between  row">
    <div class="col-sm-6">
      <h3 class="mr-3">Total:
      </h3>
    </div>
    <div class="col-sm-6">
      <h1 class="display-3" style="color: #FF8080;">${{totalAmountText}}</h1>
    </div>
  </div>
  <div class="pie-chart">
    <canvas id="myChart"></canvas>
  </div>
  <div class="buttons">

    <div class="filter-options d-flex row align-self-end">

      <form action="/filter" method="GET" class="select-form row d-flex  align-items-end justify-content-between mb-3">
        <select name="month" class="month-select form-control col-md-5 col-sm-7  " id="month"
          onChange="this.form.submit()" style="cursor: pointer;">
          <option value="all" name="filteredMonth" {{#ifCond this.month ../filteredMonthText }} selected {{/ifCond}}>
            {{this.month}}所有月份</option>
          {{#each months}}
          <option value="{{this.month}}" name="filteredMonth" {{#ifCond this.month ../filteredMonthText }} selected
            {{/ifCond}}>
            {{this.month}}月份</option>
          {{/each}}
        </select>

        <select name="category" class="category-select form-control col-md-5  col-sm-7  " id="category"
          onChange="this.form.submit()" style="cursor: pointer;">
          <option value="all" name="filteredCategory" {{#ifCond " all" ../filteredCategory }} selected {{/ifCond}}>
            所有類別</option>
          {{#each categories}}
          <option value="{{this._id}}" name="filteredCategory" {{#ifCond this._id ../filteredCategory }} selected
            {{/ifCond}}>{{this.title}}</option>
          {{/each}}
        </select>
        <div class="reset-button col-md-1  col-sm-12  ">
          {{#if filteredCategory}} <a href="../"><button type="button" class="btn btn-primary ">Reset</button></a>{{/if
          }}
        </div>
      </form>
    </div>


    <ul class="list-group">
      <li class="list-group-item mb-1">
        <div class="record d-flex row justify-content-center align-items-center">
          <div class="add-record">
            <a href="/records/new">
              <button type="button" class="btn ">
                <h3 class="mr-2" style="color:#1895A3;">新增支出</h3>
          </div>
          <div class="record-icon">
            <i class="fas fa-plus-square fa-3x list-icon"></i>
          </div>
          </button>
          </a>
        </div>
      </li>
      {{#if noRecord}}
      <div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
        查無相關紀錄
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          {{/if}}
          {{#each records}}
          <li class="list-group-item mb-1">

            <div class="record d-flex row justify-content-between align-items-center">
              <div class="col-sm-1">
                <div class="record-icon"><i class="{{this.category.icon}} fa-3x list-icon"></i></div>
              </div>

              <div class="col-sm-4 d-flex flex-column justify-content-center record-text">
                <h2 style="font-size: 1.5rem;color:#1895A3;font-weight:bold;">{{this.name}}</h2>
                <h3 style="font-size: 0.5rem;">{{this.date}}</h3>
                <h3 style="font-size: 0.5rem;">{{this.merchant}}</h3>
              </div>

              <div class=" col-sm-1 d-flex justify-content-end">
                <div class="record-amount-text {{this.category.className}}" style="color:#1895A3;font-size: 2rem">
                  ${{this.amount}}</div>
              </div>
              <div class="col-sm-3 d-flex justify-content-between">
                <a href=" /records/{{this._id}}/edit"><i class="fas fa-edit fa-2x"></i></a>

                <button type="button" data-toggle="modal" data-target="#delete{{this._id}}" class="delete-btn"><i
                    class="fas fa-trash fa-2x" style="cursor: pointer;"></i></button>
                </form>
              </div>
            </div>
          </li>
          <!-- Modal -->
          <div class="modal fade delete" id="delete{{this._id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: #FF8080;">NOTICE</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  確定要刪除
                  <span style="color:#1895A3;font-weight:bold;">
                    {{this.name}}
                  </span>這筆支出？
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                  </button>
                  <form action="/records/{{ this._id }}?_method=DELETE" method="POST" ;>
                    <button type="submit" class="btn "
                      style="background-color: #FF8080 ;color: #f7f7f7;">Delete</button>
                  </form>
                </div>
              </div>
            </div>

          </div>
          {{/each}}
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/javascripts/getCartAmount.js"></script>