<div class="container ">
  <div class="home-top d-flex  align-items-center row">
    <div class="total-amount col-sm-7  ">
      <span class="ml-5 d-flex">
        <h3 class="mr-4">Total:
        </h3>
        <h1 class="display-3">${{totalAmountText}}</h1>
      </span>
    </div>
    <div class="filter-options d-flex justify-content-center col-sm-5">
      <form action="/records/category" method="GET">
        <select name="category" class="custom-select category-select " id='inputType' onChange="this.form.submit()"
          style="cursor: pointer;">
          <option value="" disabled selected>Category</option>
          {{#if keyword}}<option value="{{keyword}}" selected>{{keyword}}</option>{{/if }}
          {{#each categories}}
          <option value="{{this.category}}">{{this.category}}</option>
          {{/each}}
        </select>
      </form>
      {{#if keyword}} <a href="../"><button type="button" class="btn btn-secondary filter-all">All</button></a>{{/if
      }}
      <i class="fas fa-funnel-dollar fa-3x mx-3"></i>
    </div>
  </div>

  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">

      <div class="record row d-flex row justify-content-between align-items-center">
        <div class="col-sm-1">
          <div class="record-icon"><i class="{{this.categoryIcon}} fa-3x"></i></div>
        </div>

        <div class="col-sm-4 d-flex flex-column justify-content-center">
          <h2 style="font-size: 20px;">{{this.name}}</h2>
          <h3 style="font-size: 12px;">{{this.date}}</h3>
        </div>

        <div class=" col-sm-1 d-flex justify-content-end">
          <div class="record-amount-text">${{this.amount}}</div>
        </div>


        <div class="col-sm-3 d-flex justify-content-between">
          <a href=" /records/{{ this._id }}/edit"><i class="fas fa-edit fa-2x"></i></a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="delete-btn"><i class="fas fa-trash fa-2x"
                style="cursor: pointer;"></i></button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="create-btn d-flex justify-content-center">
    <a href="/records/new"><button type="button" class="btn btn-warning">新增一筆支出</button></a>
  </div>
</div>