<form action="/records/category" method="GET">
  <select name="category" class="custom-select" id='inputType' onChange="this.form.submit()" style="cursor: pointer;"
    style="width:200px;">
    <option value="" disabled selected>Category</option>
    {{#if keyword}}<option value="{{keyword}}" selected>{{keyword}}</option>{{/if }}
    {{#each categories}}
    <option value="{{this.category}}">{{this.category}}</option>
    {{/each}}
  </select>
</form>
{{#if keyword}} <a href="../"><button>Back</button></a>{{/if }}
<h1>Total:${{totalAmountText}}</h1>
<ul>
  {{#each records}}
  <li>
    {{this.name}}
    {{this.date}}
    {{this.category_ch}}
    {{this.merchant}}
    {{this.amount}}
    <a href="/records/{{ this._id }}/edit">編輯</a>
    <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>
<a href="/records/new">新增一筆支出</a>